.dashboard-avatar {
background: #383d41;
width: 60px;
height: 60px;
display: block;
border-radius: 30px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 10px;
color: white;
font-size: 40px;
text-align: center;
}

.dashboard-username {
font-weight: 700;
margin-top: 2px;
font-size: 25px;
}

.dashboard-department {
font-size: 14px;
}

.form-seperator {
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
padding-top: 10px;
}

.payment-box {
border: 1px solid #e3e3e3;
padding: 10px;
}